.features {
    padding: 94px 0;

    @media screen and (max-width: 1199px) {
      padding: 60px 0;
      }  
  }
  
  .features__list {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      
      }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      gap: 30px; 

    @include desktop {
      justify-content: space-between;
    }
    }
  

  .features__item {
    

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 2 * 30px) / 2);
      }
    
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;  
        }
      }

      @include desktop {
        width: 270px;
        flex-wrap: nowrap;
        } 
    }

  }
  
  .features__list > .features__item + .features__item {
    @include desktop {
    margin-left: 30px;  
    }
  }
  
  .features__icons {
    padding: 25px 100px;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;

       @include tablet {
    // width: 354px;  
        }

       @include desktop {
    width: 270px;  
        }
  }
  
  .features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      text-align: center;  
  }
}
  
  .features__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
    margin-top: 10px;
  }